body {
    margin: 0;
    font-family: sans-serif;
    background-color: #ddd;
}

div, #nav__ul, form, label {
    box-sizing: border-box;
}

/*Food-adding section layout*/

#form-container {
    width: 30%;
    margin: auto;
    margin-top: 20px;
    background-color: #1AAC57;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0 0 20px 3px #1AAC57;
}

#food-adding {
    display: flex;
    flex-direction: column;
}

label {
    width: 90%;
}

/*BUTTON*/

button {
    width: 200px;
    height: 40px;
    display: block;
    margin: auto;
    margin-top: 40px;
    background-color: #1AAC57;
    box-shadow: 0 0 20px 3px #1AAC57;
    border: none;
}

button:hover {
    background-color: #1EC564;
    box-shadow: 0 0 20px 3px #1EC564;
}