body {
    margin: 0;
    font-family: sans-serif;
    background-color: #ddd;
}

#main-container {
    width: 800px;
    margin: auto;
    padding: 4px;
    background-color: #1AAC57;
}

table {
    width: 100%;
    table-layout: fixed;
    margin: auto;
    border-spacing: 0;
}

td, th {
    padding: 6px;
    text-align: center;
    border: 1px solid #000;
}