body {
    margin: 0;
    padding: 0;
}

div, #nav__ul, form, label {
    box-sizing: border-box;
}

/*Navigation bar layout*/

#nav {
    margin-bottom: 20px;
}

#nav__ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav__item {
    list-style: none;
}

.nav__link {
    color: #518B63;
    text-decoration: none;
    padding: 10px;
}

/*Food-adding section layout*/

#form-container {
    width: 30%;
    margin: 20px;
}

#food-adding {
    display: flex;
    flex-direction: column;
}

label {
    width: 90%;
}